@using Demo
@inherits RazorFunction

@functions {

}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
	<head>
	</head>
<body>
    
<h3>this is action</h3>

</body>
</html>
