@inherits RazorPageTemplate

@functions {
    public override void Configure()
    {
        TemplateId = new Guid("271c293a-5460-4d1a-b497-a74257721b74");
        TemplateTitle = "Link Item";
        Layout = null;
    }
}
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        
    </head>
    <body>
       
    </body>
</html>