@using Composite.Core.Routing.Pages
@inherits RazorPageTemplate

@functions {
    public override void Configure()
    {
        TemplateId = new Guid("b5c60bf6-4619-4956-b586-77274951d463");
        TemplateTitle = "Link Container";
        Layout = null;
    }
}
@{
    
}
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        
    </head>
    <body>
       
    </body>
</html>